### 데이터 불러오기

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/corazzon/boostcourse-ds-510/master/data/medical_201909.csv.zip", low_memory=False)
df.shape

(91335, 39)

### 📌 Q1. 전국 시도별 약국수를 구해주세요!

상권업종소분류명이 약국인 것을 찾아 빈도수를 구해주세요. </br>
이 때, value_counts, groupby, pivot_table 등 다양한 집계 방법을 통해 구해볼 수 있습니다. </br>
각자 구하기 편한 방법을 통해 빈도수를 구합니다. </br>
다음의 결과가 나오도록 구합니다. </br>
| 지역           | 수치  |
|----------------|------|
| 경기도         | 4510 |
| 서울특별시     | 3579 |
| 부산광역시     | 1130 |
| 경상남도       | 1017 |
| 인천광역시     | 1002 |
| 경상북도       | 915  |
| 대구광역시     | 870  |
| 전라북도       | 862  |
| 충청남도       | 830  |
| 전라남도       | 811  |
| 강원도         | 729  |
| 광주광역시     | 691  |
| 충청북도       | 648  |
| 대전광역시     | 603  |
| 울산광역시     | 362  |
| 제주특별자치도 | 226  |
| 세종특별자치시 | 99   |

In [9]:
print(df.columns)
print('=' * 50)
df["상권업종중분류명"].value_counts()

Index(['상가업소번호', '상호명', '지점명', '상권업종대분류코드', '상권업종대분류명', '상권업종중분류코드',
       '상권업종중분류명', '상권업종소분류코드', '상권업종소분류명', '표준산업분류코드', '표준산업분류명', '시도코드',
       '시도명', '시군구코드', '시군구명', '행정동코드', '행정동명', '법정동코드', '법정동명', '지번코드',
       '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '지번주소', '도로명코드', '도로명', '건물본번지',
       '건물부번지', '건물관리번호', '건물명', '도로명주소', '구우편번호', '신우편번호', '동정보', '층정보',
       '호정보', '경도', '위도'],
      dtype='object')
==================================================

상권업종중분류명
병원          60774
약국/한약방      20923
수의업          5323
유사의료업        3774
의료관련서비스업      541
Name: count, dtype: int64

In [48]:
# groupby
df[df["상권업종소분류명"] == '약국'].groupby('시도명').size()

시도명
강원도         729
경기도        4510
경상남도       1017
경상북도        915
광주광역시       691
대구광역시       870
대전광역시       603
부산광역시      1130
서울특별시      3579
세종특별자치시      99
울산광역시       362
인천광역시      1002
전라남도        811
전라북도        862
제주특별자치도     226
충청남도        830
충청북도        648
dtype: int64

In [49]:
# value_counts
df[df["상권업종소분류명"] == '약국']['시도명'].value_counts()

시도명
경기도        4510
서울특별시      3579
부산광역시      1130
경상남도       1017
인천광역시      1002
경상북도        915
대구광역시       870
전라북도        862
충청남도        830
전라남도        811
강원도         729
광주광역시       691
충청북도        648
대전광역시       603
울산광역시       362
제주특별자치도     226
세종특별자치시      99
Name: count, dtype: int64

In [50]:
# pivot_table
df[df['상권업종소분류명'] == '약국'].pivot_table(
    index='시도명', 
    values='상권업종소분류명',
    aggfunc='count'
).reset_index('시도명').rename(columns={"상권업종소분류명":"빈도수"})

        시도명   빈도수
0       강원도   729
1       경기도  4510
2      경상남도  1017
3      경상북도   915
4     광주광역시   691
5     대구광역시   870
6     대전광역시   603
7     부산광역시  1130
8     서울특별시  3579
9   세종특별자치시    99
10    울산광역시   362
11    인천광역시  1002
12     전라남도   811
13     전라북도   862
14  제주특별자치도   226
15     충청남도   830
16     충청북도   648

### 📌 Q2. 여러분은 반려동물과 관련된 사업을 하는 스타트업에 취업을 하여 상권분석을 해달라는 요청을 받았습니다. 
### 병원이나 약국은 인구나 유동인구가 많은 지역에 주로 위치하고 있습니다. 그렇다면 동물병원도 병원이나 약국이 많은 곳에 더 많이 있을까요?

- 빈도수를 구하고 시각화 하여 동물병원이 어느 지역에 많은지 분석해 주세요!
- 다음의 결과가 나오도록 구합니다.

| 지역           | 수치  |
|----------------|------|
| 경기도         | 992  |
| 서울특별시     | 557  |
| 인천광역시     | 193  |
| 경상북도       | 165  |
| 경상남도       | 161  |
| 부산광역시     | 153  |
| 충청남도       | 131  |
| 대구광역시     | 119  |
| 전라북도       | 111  |
| 강원도         | 85   |
| 대전광역시     | 77   |
| 전라남도       | 77   |
| 충청북도       | 75   |
| 광주광역시     | 71   |
| 울산광역시     | 61   |
| 제주특별자치도 | 46   |
| 세종특별자치시 | 13   |

In [54]:
df[df['상권업종소분류명'] == '동물병원'].groupby(by='시도명')['상권업종소분류명'].count()

시도명
강원도         85
경기도        992
경상남도       161
경상북도       165
광주광역시       71
대구광역시      119
대전광역시       77
부산광역시      153
서울특별시      557
세종특별자치시     13
울산광역시       61
인천광역시      193
전라남도        77
전라북도       111
제주특별자치도     46
충청남도       131
충청북도        75
Name: 상권업종소분류명, dtype: int64

### 📌Q3. 강남지역에는 다른 지역에 비해 피부과나 성형외과가 많아 보입니다. 실제로 해당 지역에 피부과나 성형외과가 다른 지역에 비해 전체 병원 수 중에서 어느 정도의 비율을 차지하고 있는지 알아보겠습니다.

- 서울에 소재한 병원 중 상권업종소분류명에 "피부" 나 "성형"이 들어간 분류명을 찾아 구해주세요!
- 피부과 성형외과 수 / 전체병원 수 로 비율을 구해주세요!
- 비율이 높은 순서대로 정렬되게 구해주세요!
- 수업에서 사용한 같은 CSV 파일을 사용하며 다음의 결과가 나오도록 구합니다.
- 소숫점 두 번째짜리까지 출력하는 방법은 pandas round 로 검색해서 사용법을 알아보세요!

| 시군구명   | 수치  |
|------------|------|
| 강남구     | 0.24 |
| 서초구     | 0.17 |
| 마포구     | 0.09 |
| 영등포구   | 0.08 |
| 서대문구   | 0.08 |
| 강서구     | 0.07 |
| 강동구     | 0.07 |
| 중구       | 0.07 |
| 양천구     | 0.07 |
| 중랑구     | 0.07 |
| 성북구     | 0.06 |
| 송파구     | 0.06 |
| 구로구     | 0.06 |
| 은평구     | 0.06 |
| 광진구     | 0.06 |
| 노원구     | 0.05 |
| 성동구     | 0.05 |
| 금천구     | 0.05 |
| 용산구     | 0.05 |
| 강북구     | 0.05 |
| 동대문구   | 0.04 |
| 동작구     | 0.04 |
| 관악구     | 0.04 |
| 종로구     | 0.03 |
| 도봉구     | 0.02 |

In [78]:
seoul_df = df[df['시도명'] == '서울특별시'].copy()

skin_df = seoul_df[seoul_df['상권업종소분류명'].str.contains("피부|성형")]
hospital_df = seoul_df[seoul_df['상권업종중분류명'] == '병원']

In [111]:
# Groupby
(skin_df.groupby('시군구명')['상권업종소분류명'].count() / hospital_df.groupby('시군구명')['상권업종소분류명'].count()).round(2).sort_values(ascending=False)

시군구명
강남구     0.24
서초구     0.17
마포구     0.09
영등포구    0.08
서대문구    0.08
강서구     0.07
강동구     0.07
중구      0.07
양천구     0.07
중랑구     0.07
성북구     0.06
송파구     0.06
구로구     0.06
은평구     0.06
광진구     0.06
노원구     0.05
성동구     0.05
금천구     0.05
용산구     0.05
강북구     0.05
동대문구    0.04
동작구     0.04
관악구     0.04
종로구     0.03
도봉구     0.02
Name: 상권업종소분류명, dtype: float64

In [108]:
# Pivot
skin_pivot = skin_df.pivot_table(
    index='시군구명', 
    values='상권업종소분류명', 
    aggfunc='count'
).reset_index().rename(columns={'상권업종소분류명': '빈도수'})

hospital_pivot = hospital_df.pivot_table(
    index='시군구명', 
    values='상권업종소분류명', 
    aggfunc='count'
).reset_index().rename(columns={'상권업종소분류명': '빈도수'})

In [109]:
skin_pivot['빈도수'] = (skin_pivot['빈도수'] / hospital_pivot['빈도수']).round(2)

In [110]:
skin_pivot.sort_values(by='빈도수', ascending=False)

    시군구명   빈도수
0    강남구  0.24
14   서초구  0.17
12   마포구  0.09
19  영등포구  0.08
13  서대문구  0.08
3    강서구  0.07
1    강동구  0.07
23    중구  0.07
18   양천구  0.07
24   중랑구  0.07
16   성북구  0.06
17   송파구  0.06
6    구로구  0.06
21   은평구  0.06
5    광진구  0.06
8    노원구  0.05
15   성동구  0.05
7    금천구  0.05
20   용산구  0.05
2    강북구  0.05
10  동대문구  0.04
11   동작구  0.04
4    관악구  0.04
22   종로구  0.03
9    도봉구  0.02

In [59]:
df[df['상권업종소분류명'].str.contains("피부|성형") & df['시도명'] == '서울특별시'].groupby(by='시군구명').value_counts()

Series([], Name: count, dtype: int64)

### 📌Q4. 평균 기대수명이 점점 길어지면서 실버 의료 산업도 주목받고 있습니다. 여러분은 실버 의료 산업과 관련된 스타트업에 취업했습니다. 지도를 시각화하여 '노인/치매병원'이 주로 어디에 위치하고 있는지를 찾아보고자 합니다.

- folium 을 통해 지도에 전국의 '노인/치매병원'을 표시해 주세요!
- 다음과 같이 시각화 하며, folium 의 문서를 참고하여 다른 기능을 사용하여 좀 더 멋지게 지도를 꾸며도 좋습니다.
- folium 문서 : https://python-visualization.github.io/folium/quickstart.html